.impowerBox .qrcode {width: 200px;margin-top: 0;border: unset;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 300px;}
.status_icon {display: none}
.impowerBox .status {text-align: center; padding: 0 14px;} 